body {
  margin: 0;
  font-family:  'American Typewriter', serif, monospace;
}

code {
  font-family:  'American Typewriter', serif,
    monospace;
}

/*NAVBAR STYLING*/
.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'American Typewriter', serif,
  monospace;
}

.topnav a:hover {
  background-color: #ddd;
  color: gray;
}

h1, h2, h3 {
  font-family:  'American Typewriter', serif, monospace;
  font-weight: bold;
  padding-top: 50px;
}
